@font-face {
  font-family: My Chemical Romance;
  src: url('./assets/my-chemical-romance.woff2');
}

@font-face {
  font-family: Flexo-Medium;
  src: url('./assets/Flexo-Medium.otf');
}

:root {
  font: 16px / 1 sans-serif;
  --break-shape: polygon(
    0 60%,
    9% 38%,
    10% 7%,
    19% 11%,
    47% 4%,
    70% 14%,
    84% 7%,
    97% 20%,
    91% 35%,
    100% 58%,
    92% 72%,
    87% 92%,
    68% 90%,
    50% 100%,
    40% 91%,
    25% 94%,
    9% 85%,
    11% 77%
  );
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Flexo-Medium', arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  list-style: none;
  li {
    display: flex;
    justify-content: space-between;
    cursor: default;
  }
}

.breadcrumb {
  padding-left: 100px;
  white-space: nowrap;
  font-size: 1rem;
  white-space: nowrap;
  li.is-active a {
    color: #363636;
    cursor: default;
    pointer-events: none;
  }
  a {
    align-items: center;
    color: #3273dc;
    display: flex;
    justify-content: center;
    padding: 0 0.75em;
    &:hover {
      color: #363636;
    }
    .icon {
      align-items: center;
      display: inline-flex;
      justify-content: center;
      height: 1.5rem;
      width: 1.5rem;
      &:first-child {
        margin-right: 0.5em;
      }
      &:last-child {
        margin-left: 0.5em;
      }
    }
  }
  li {
    align-items: center;
    display: flex;
    &:first-child a {
      padding-left: 0;
    }
    &.is-active a {
      color: #363636;
      cursor: default;
      pointer-events: none;
    }
    + li::before {
      color: #b5b5b5;
      content: '\0002f';
    }
  }
  ol,
  ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &.is-centered {
    ol,
    ul {
      justify-content: center;
    }
  }
  &.is-right {
    ol,
    ul {
      justify-content: flex-end;
    }
  }
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  section {
    padding: 3rem 1.5rem;
  }

  header {
    .name {
      font-family: 'My Chemical Romance', sans-serif;
      font-size: 80px;
      font-variant: small-caps;
      letter-spacing: -4px;
      color: #eb008b;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
      margin: 3rem;
      position: relative;
      text-align: center;
      color: #eb008b;
      font-weight: 400;
      font-style: normal;
      h1 {
        font-family: 'Bubblegum Sans', sans-serif;
        position: absolute;
        left: 44%;
        top: 15px;
        color: #008beb;
        font-size: 35px;
        margin-bottom: -1.2rem;
      }
      & .initial {
        display: inline-block;
        transform: skewX(339deg) translate(6px);
      }
      & .m {
        display: inline-block;
        transform: skewX(342deg) translate(1px, 3px);
      }
      & .h {
        display: inline-block;
        font-size: calc(80px * 1.3);
      }
    }
  }

  .pet-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    .filter-options-container {
      margin-top: 10px;
      margin-bottom: 20px;
      .filter-options {
        display: flex;
        justify-content: space-between;
        .sort-dropdown-container {
          align-self: flex-start;
          .sort-label {
            margin-right: 10px;
          }
        }
        .search-bar-toggle-container {
          display: flex;
          align-items: center;
          .search-bar-container {
            margin-right: 5px;
          }
          .toggle-dead-button-container {
            margin-left: 5px;
          }
        }
      }
    }
    .list-pets {
      display: flex;
      padding-top: 1rem;
      width: 1000px;
      max-width: 1000px;
      .pets {
        flex: 1;
        display: flex;
        flex-direction: column;
        .top-level {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 2rem;
          .pet {
            padding: 15px;
            display: flex;
            ul li:nth-child(-n + 1) {
              cursor: pointer;
            }
            .image-container {
              position: relative;
              display: flex;
              align-items: center;
              width: 120px;
              height: 120px;
              img {
                max-width: 120px;
                height: auto;
                width: 100%;
              }
              .deceased-banner-sprite {
                position: absolute;
                background-color: white;
                padding: 2px 0;
                border: 2px solid black;
                color: #e20401;
                font-weight: bold;
                text-align: center;
                z-index: 1;
                transform-origin: top center;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
              }
            }
            .pet-list-pet-details {
              li:not(:first-child) {
                margin: 3px 0;
              }
            }
          }
        }
      }
    }
    form {
      &#create-pet-form {
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        position: relative;
        ul {
          li {
            &.input-label {
              position: absolute;
              top: 24px;
              left: 50%;
              transform: translateX(-50%);
              white-space: nowrap;
            }
            ul.input-container {
              display: flex;
              justify-content: center;
              position: relative;
              width: 100%;
              li {
                position: relative;
                display: inline-block;
                input {
                  margin: 0 auto;
                  border: none;
                  padding: 0.3em 0.2em 0;
                  color: #074863;
                  font-size: 1em;
                  line-height: 1.5em;
                  background-color: #fff;
                  opacity: 0.8;
                }
                .error-message {
                  position: absolute;
                  top: 20%;
                  left: calc(100% + 5px);
                  color: red;
                  white-space: nowrap;
                }
              }
            }
          }
        }
        ul li:last-child {
          justify-content: center;
          button {
            background-color: hsl(217, 71%, 63%);
            color: #fff;
            display: inline-block;
            margin: 0 auto;
            font-size: 100%;
            font-family: 'Flexo-Demi', arial, sans-serif;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            line-height: 100%;
            margin: 1.5625%;
            margin-top: 8px;
            padding: 8px;
            vertical-align: middle;
            text-align: center;
            text-transform: none;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            border: 1px solid rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }

  .pet-details-container {
    margin: 0 auto;
    position: relative;
    .pet-details-pet-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: auto;
      .pet-details-name {
        text-align: center;
        font-size: 2rem;
        margin-top: -1.5rem;
        padding: 10px;
        padding-bottom: 2rem;
      }
      .pet-details-inner {
        background: rgba(0, 0, 0, 0.65);
        width: 95vw;
        height: 700px;
        clip-path: var(--break-shape);
        transform: translate(4px, 0);
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: silver;
          clip-path: var(--break-shape);
          transform: scale(0.95);
        }
        .pet-details-block {
          padding: 25px;
          --border-radius: 10px;
          position: absolute;
          width: 77%;
          border-radius: var(--border-radius);
          transform: translateY(4px);
          display: flex;
          justify-content: center;
          align-items: center;
          .pet-details-picture {
            position: relative;
            flex: 1;
            display: flex;
            justify-content: flex-end;
            .deceased-banner {
              position: absolute;
              padding: 0px;
              width: 100%;
              background-color: white;
              color: #e20401;
              border: 2px solid black;
              font-size: 2.5rem;
              font-weight: bold;
              text-align: center;
              z-index: 1;
              transform-origin: top center;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            }
            img {
              inherits: none;
              background-color: #f2f2f2b6;
              border-radius: 55px;
              max-width: 100%;
              max-height: 100%;
            }
          }
          .pet-details-info {
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 55px;
            z-index: 5;
            // left: 15%;
            ul li {
              font-size: 1.3rem;
              padding: 1rem;
              padding-left: 25%;
              white-space: nowrap;
            }
            .hunger-level {
              display: block;
              .hunger-message {
                position: absolute;
                display: block;
                font-size: 16px;
                margin-top: 0.5rem;
                color: red;
              }
            }
            .happiness-level {
              display: block;
              .happiness-message {
                position: absolute;
                display: block;
                font-size: 16px;
                margin-top: 0.5rem;
                color: red;
              }
            }
          }
        }
      }
    }
    .actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      font-size: 24px;
      .buttons-container {
        width: 100%;
        height: 50px;
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        position: relative;
        gap: 70px;
        .button-text {
          position: absolute;
          &.play {
            top: -64%;
            left: -4.6%;
          }
          &.feed {
            top: -8%;
            left: 37.5%;
          }
          &.scold {
            top: -64%;
            left: 80.9%;
          }
        }
        & .button {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: #eb008b;
          box-shadow:
            0 0 4px 2px rgba(0, 0, 0, 0.75),
            -2px -2px 4px rgba(0, 0, 0, 0.5) inset;
          &:active {
            background-image: linear-gradient(
              rgba(0, 0, 0, 0.1),
              rgba(0, 0, 0, 0.1)
            );
            box-shadow:
              0 0 4px 2px rgba(0, 0, 0, 0.75),
              2px 2px 2px rgba(0, 0, 0, 0.25) inset;
          }
          &.middle {
            align-self: flex-end;
          }
        }
      }
      .delete-button-container {
        height: 32px;
        margin-top: 45px;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        position: relative;
        .button-text {
          position: absolute;
          top: -100%;
          left: -88%;
        }
        & .button {
          width: 22px;
          min-height: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: #eb008b;
          box-shadow:
            0 0 4px 2px rgba(0, 0, 0, 0.75),
            -2px -2px 4px rgba(0, 0, 0, 0.5) inset;
          &:active {
            background-image: linear-gradient(
              rgba(0, 0, 0, 0.1),
              rgba(0, 0, 0, 0.1)
            );
            box-shadow:
              0 0 4px 2px rgba(0, 0, 0, 0.75),
              2px 2px 2px rgba(0, 0, 0, 0.25) inset;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .pet-container {
    .pet-details-container {
      .pet-details-inner {
        .pet-details-block {
          margin: 12%;
          padding: 15%;
        }
      }
    }
  }
}

@media screen and (max-width: 815px) {
  .pet-container {
    .pet-details-container {
      .pet-details-inner {
        .pet-details-block {
          margin: 10%;
          padding: 15%;
        }
      }
    }
  }
}
