@font-face {
  font-family: My Chemical Romance;
  src: url('./assets/my-chemical-romance.woff2');
}

@font-face {
  font-family: Flexo-Medium;
  src: url('./assets/Flexo-Medium.otf');
}

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Flexo-Medium', arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}

ul {
  padding: 0;
  list-style: none;

  li {
    display: flex;
    justify-content: space-between;
    cursor: default;
    // margin: 0.7em;
  }
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  padding: 3rem 1.5rem;
}

.breadcrumb {
  padding-left: 10px;
  li.is-active a {
    color: #363636;
    cursor: default;
    pointer-events: none;
  }
  white-space: nowrap;
  .icon:first-child {
    margin-right: 0.5em;
  }
  font-size: 1rem;
  white-space: nowrap;
  a {
    align-items: center;
    color: #3273dc;
    display: flex;
    justify-content: center;
    padding: 0 0.75em;
    &:hover {
      color: #363636;
    }
  }
  li {
    align-items: center;
    display: flex;
    &:first-child a {
      padding-left: 0;
    }
    &.is-active a {
      color: #363636;
      cursor: default;
      pointer-events: none;
    }
    + li::before {
      color: #b5b5b5;
      content: '\0002f';
    }
  }
  ol,
  ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .icon {
    &:first-child {
      margin-right: 0.5em;
    }
    &:last-child {
      margin-left: 0.5em;
    }
  }
  &.is-centered {
    ol,
    ul {
      justify-content: center;
    }
  }
  &.is-right {
    ol,
    ul {
      justify-content: flex-end;
    }
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

form#create-pet-form {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  position: relative;
  ul {
    li {
      ul.input-container {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        li {
          position: relative;
          display: inline-block;
          input {
            margin: 0 auto;
            border: none;
            padding: 0.3em 0.2em 0;
            color: #074863;
            font-size: 1em;
            line-height: 1.5em;
            background-color: #fff;
            opacity: 0.8;
          }
        }
      }
    }
  }
  ul li:last-child {
    justify-content: center;
  }
}

html,
body {
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size:
    100% 20px,
    20px 100%;
  pointer-events: none; /* Ensure the grid lines don't interfere with interactions */
  z-index: 9999; /* Ensure the grid lines appear above other elements */
}

.input-label {
  position: absolute;
  top: 24px;
  // left: 10%;
  white-space: nowrap;
}
.error-message {
  position: absolute;
  top: 20%;
  left: calc(100% + 5px);
  color: red;
  white-space: nowrap;
}

.hunger-level {
  display: block;
  .hunger-message {
    position: absolute;
    display: block;
    font-size: 16px;
    margin-top: 0.5rem;
    color: red;
  }
}

.happiness-level {
  display: block;
  .happiness-message {
    position: absolute;
    display: block;
    font-size: 16px;
    margin-top: 0.5rem;
    color: red;
  }
}

.name {
  // font-family: 'Chewy', system-ui;
  // font-family: 'Bubblegum Sans', sans-serif;
  // font-family: 'awe', sans-serif;
  font-family: 'My Chemical Romance', sans-serif;
  font-size: 80px;
  font-variant: small-caps;
  letter-spacing: -4px;
  color: #eb008b;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  margin: 3rem;
  position: relative;
  text-align: center;
  color: #eb008b;
  // font-family: 'awe', sans-serif;
  font-weight: 400;
  font-style: normal;
  h1 {
    // font-family: 'Chewy', system-ui;
    font-family: 'Bubblegum Sans', sans-serif;
    // font-family: 'awe', sans-serif;
    position: absolute;
    left: 44%;
    top: 15px;
    color: #008beb;
    font-size: 35px;
    margin-bottom: -1.2rem;
  }
  & .initial {
    display: inline-block;
    transform: skewX(339deg) translate(6px);
  }
  & .m {
    display: inline-block;
    transform: skewX(342deg) translate(1px, 3px);
  }
  & .h {
    display: inline-block;
    font-size: calc(80px * 1.3);
  }
}

.pet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: 24px;
    .buttons-container {
      width: 100%;
      height: 50px;
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      position: relative;
      gap: 70px;
      .button-text {
        position: absolute;
        &.play {
          top: -64%;
          left: -4.6%;
        }
        &.feed {
          top: -8%;
          left: 37.5%;
        }
        &.scold {
          top: -64%;
          left: 80.9%;
        }
      }

      & .button {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #eb008b;
        box-shadow:
          0 0 4px 2px rgba(0, 0, 0, 0.75),
          -2px -2px 4px rgba(0, 0, 0, 0.5) inset;
        &:active {
          background-image: linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          );
          box-shadow:
            0 0 4px 2px rgba(0, 0, 0, 0.75),
            2px 2px 2px rgba(0, 0, 0, 0.25) inset;
        }
        &.middle {
          align-self: flex-end;
        }
      }
    }
    .delete-button-container {
      height: 32px;
      margin-top: 45px;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      position: relative;
      .button-text {
        position: absolute;
        top: -100%;
        left: -88%;
      }
      & .button {
        width: 22px;
        min-height: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #eb008b;
        box-shadow:
          0 0 4px 2px rgba(0, 0, 0, 0.75),
          -2px -2px 4px rgba(0, 0, 0, 0.5) inset;
        &:active {
          background-image: linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
          );
          box-shadow:
            0 0 4px 2px rgba(0, 0, 0, 0.75),
            2px 2px 2px rgba(0, 0, 0, 0.25) inset;
        }
      }
    }
  }
}

.pet-list-container {
  display: flex;
  flex-direction: column;
}

.filter-options-container {
  // display: flex;
  // justify-content: flex-end; /* Distribute items evenly along the main axis */
  // align-items: flex-start; /* Align items vertically */
  margin-top: 10px; /* Add some top margin for spacing */
  margin-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
}

.sort-label {
  margin-right: 10px;
}

.search-bar-toggle-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.search-bar-container {
  margin-right: 5px; /* Add some right margin for spacing */
}

.toggle-dead-button-container {
  margin-left: 5px; /* Add some left margin for spacing */
}

.sort-dropdown-container {
  /* No need to specify additional styles for positioning */
  align-self: flex-start;
}

.list-pets {
  display: flex;
  flex: 1;
}

.pets {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pet {
  padding: 15px;
  display: flex;
}

.pet-details-name {
  text-align: center;
  font-size: 2rem;
  margin-top: -1.5rem;
  padding: 10px;
  padding-bottom: 2rem;
}

.pet-details-block {
  display: flex;
  padding: 20px;
}

.pet-details-picture {
  position: relative;
  flex: 1;
  padding: 10px;
}

.pet-details-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 4rem 0 4rem 0;
}

ul.top-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.pet-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.list-pets {
  display: flex;
  // flex: 1;
  // margin: 4rem;
  // margin-top: 1rem;
  // padding-top: 1rem;
  width: 1000px;
  max-width: 1000px;
}

.pets {
  flex: 1;
  display: flex;
  flex-direction: column;
  // padding: 1rem;
}

.pet {
  padding: 15px;
  display: flex;
  ul li:nth-child(-n + 1) {
    cursor: pointer;
  }
  .image-container {
    display: flex;
    align-items: center;
    img {
      max-width: 120px;
      height: auto;
      width: 100%;
    }
  }
}

.pet-details-name {
  text-align: center;
  font-size: 2rem;
  margin-top: -1.5rem;
  padding: 10px;
  padding-bottom: 2rem;
}

.pet-details-block {
  display: flex;
  padding: 20px;
  // margin: 0 10rem;
  // padding: 0 1rem;
  .pet-details-picture {
    flex: 1;
    padding: 10px;
    img {
      background-color: #f2f2f2;
      border-radius: 55px;
    }
  }

  .pet-details-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    // TO BE REMOVED AFTER FIXING POSITIONING
    // background-color: #f2f2f2;
    border-radius: 55px;
    ////////////
    padding: 4rem 0 4rem 0;
    ul li {
      font-size: 1.3rem;
      padding: 1rem;
    }
  }
}

.pet-details-picture {
  position: relative;
  // overflow: hidden; /* Prevents the banner from overflowing */
}

.deceased-banner {
  position: absolute;
  // transform-origin: top left;
  padding: 0px;
  // top: 10px;
  // left: 0; /* Align with the left edge of the image */
  // left: 50%; /* Align with the center of the image */
  // transform: translateX(-50%);
  width: 100%;
  background-color: white;
  color: #e20401;
  border: 2px solid black;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center; /* Center the text within the banner */
  z-index: 1; /* Ensure it appears above the image */
  // transform: rotate(calc(-20deg + 40deg * random()));
  transform-origin: top center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
}

.pet-list-pet-details {
  position: relative;
}

.deceased-banner-sprite {
  position: absolute;
  // top: 40px;
  // left: -50%;
  // transform: translateX(-50%);
  // transform: translateY(-50%);
  background-color: white;
  padding: 2px 0;
  border: 2px solid black;
  // color: red;
  color: #e20401;
  // color: #ff4d4d;
  // color: #d32f2f;
  // color: #e53935;
  // color: #c62828;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  transform: rotate(calc(-20deg + 40deg * random()));
  transform-origin: top center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1088px) {
  .pet-container {
    max-width: 960px;
    width: 960px;
  }
}

// ul.top-level {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   gap: 2rem;
//   // height: 206.4px;
// }

// .pet-details-picture {
//   position: relative;
//   display: inline-block; /* Ensure the container only takes the width of the image */
// }

// .deceased-banner {
// position: absolute;
// top: 10px; /* Adjust as needed */
// left: 0; /* Align with the left edge of the image */
// left: 50%; /* Align with the center of the image */
// transform: translateX(-50%);
// width: 100%; /* Make the banner extend the width of the image */
// background-color: white;
// color: #e20401;
// padding: 1px 0; /* Adjust padding as needed */
// border: 2px solid black;
// font-size: 2rem;
// font-weight: bold;
// text-align: center; /* Center the text within the banner */
// z-index: 1; /* Ensure it appears above the image */

//   /* Random rotation */
//   // transform: rotate(calc(-10deg + 20deg * random()));
// transform: rotate(calc(-20deg + 40deg * random()));
// transform-origin: top center;
// box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
// }
