:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Flexo-Medium', arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  text-align: center;
  margin: 3rem;
  color: #eb008b;
  // font-family: 'Adventure', sans-serif;
  // font-family: 'Chewy', system-ui;
  // font-family: 'SF Fedora Shadow', sans-serif;
  // font-family: 'Bubblegum Sans', sans-serif;
  font-family: 'awe', sans-serif;
  font-weight: 400;
  font-style: normal;
  // margin-bottom: 0;

  h1 {
    position: absolute;
    left: 50%;
    top: -10px;
    color: #008beb;
    font-size: 24px;
    margin-bottom: -1.2rem;
  }
  h2 {
    font-size: 5rem;
    // transform: skewX(-5deg);
  }
}

ul {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}

ul {
  padding: 0;
  list-style: none;

  li {
    display: flex;
    justify-content: space-between;
    cursor: default;
    // margin: 0.7em;
  }
}

ul.top-level {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  // height: 206.4px;
}

// .emptyDb {
//   height: 206.4px;
// }

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  padding: 3rem 1.5rem;
}

.breadcrumb {
  padding-left: 10px;
  li.is-active a {
    color: #363636;
    cursor: default;
    pointer-events: none;
  }
  white-space: nowrap;
  .icon:first-child {
    margin-right: 0.5em;
  }
  font-size: 1rem;
  white-space: nowrap;
  a {
    align-items: center;
    color: #3273dc;
    display: flex;
    justify-content: center;
    padding: 0 0.75em;
    &:hover {
      color: #363636;
    }
  }
  li {
    align-items: center;
    display: flex;
    &:first-child a {
      padding-left: 0;
    }
    &.is-active a {
      color: #363636;
      cursor: default;
      pointer-events: none;
    }
    + li::before {
      color: #b5b5b5;
      content: '\0002f';
    }
  }
  ol,
  ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .icon {
    &:first-child {
      margin-right: 0.5em;
    }
    &:last-child {
      margin-left: 0.5em;
    }
  }
  &.is-centered {
    ol,
    ul {
      justify-content: center;
    }
  }
  &.is-right {
    ol,
    ul {
      justify-content: flex-end;
    }
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.list-pets {
  display: flex;
  margin: 4rem;
  margin-top: 0;
  padding-top: 1rem;
}

.pets {
  flex: 1;
  display: flex;
  flex-direction: column;
  // padding: 1rem;
}

.pet {
  padding: 15px;
  display: flex;
  ul li:nth-child(-n + 1) {
    cursor: pointer;
  }
  .image-container {
    display: flex;
    align-items: center;
    img {
      max-width: 120px;
      height: auto;
      width: 100%;
    }
  }
}

.pet-details-name {
  text-align: center;
  font-size: 2rem;
  margin-top: -1.5rem;
  padding: 10px;
  padding-bottom: 2rem;
}

.pet-details-block {
  display: flex;
  padding: 20px;
  // margin: 0 10rem;
  // padding: 0 1rem;
  .pet-details-picture {
    flex: 1;
    padding: 10px;
    img {
      background-color: #f2f2f2;
      border-radius: 55px;
    }
  }

  .pet-details-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    ul li {
      font-size: 1.3rem;
      padding: 1rem;
    }
    // .delete-btn {
    //   flex-shrink: 0;
    //   height: 30px;
    //   width: auto;
    //   margin-top: auto;
    // }
  }
}

.actions {
  text-align: center;
  button {
    margin: 5px;
  }
}

form {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  position: relative;
  input {
    border: none;
    padding: 0.3em 0.2em 0;
    color: #074863;
    font-size: 1em;
    line-height: 1.5em;
    background-color: #fff;
    opacity: 0.8;
  }
  ul li:last-child {
    justify-content: center;
  }
}

.error-message {
  position: absolute;
  left: 100%;
  margin-left: -5px;
  color: red;
  white-space: nowrap;
}

.hunger-level {
  display: block;
  .hunger-message {
    position: absolute;
    display: block;
    font-size: 16px;
    margin-top: 0.5rem;
    color: red;
  }
}
